In [1]:
# Import the libarary
import pandas as pd

# Import the CSV files
oil = pd.read_csv('oil_price.csv')
gold = pd.read_csv('gold_stocks_price.csv')

# View the oil DataFrame
print(oil.shape)
print(oil.dtypes)
print(oil.head())
print(oil.tail())
print

(1844, 6)
Date      object
Price    float64
Open     float64
High     float64
Low      float64
Vol.      object
dtype: object
         Date   Price    Open    High     Low     Vol.
0  2011-12-01  100.20  100.51  101.17   98.87  275.86K
1  2011-12-02  100.96  100.00  101.56   99.76  245.92K
2  2011-12-05  100.99  101.23  102.44  100.24  239.38K
3  2011-12-06  101.28  100.45  101.42  100.20  217.03K
4  2011-12-07  100.49  101.11  101.94   99.67  330.53K
            Date  Price   Open   High    Low     Vol.
1839  2018-12-25  43.16  43.00  43.25  42.88        -
1840  2018-12-26  46.22  42.85  47.00  42.52  698.41K
1841  2018-12-27  44.61  46.58  46.70  44.37  665.59K
1842  2018-12-28  45.33  45.44  46.22  44.42  564.39K
1843  2018-12-31  45.41  45.22  46.53  44.73  476.97K

In [2]:
# View the gold DataFrame
print(gold.shape)
print(gold.dtypes)
print(gold.head())
print(gold.tail())

(1718, 81)
Date              object
Open             float64
High             float64
Low              float64
Close            float64
                  ...
USO_High         float64
USO_Low          float64
USO_Close        float64
USO_Adj Close    float64
USO_Volume         int64
Length: 81, dtype: object
         Date        Open        High         Low       Close   Adj Close  \
0  2011-12-15  154.740005  154.949997  151.710007  152.330002  152.330002
1  2011-12-16  154.309998  155.369995  153.899994  155.229996  155.229996
2  2011-12-19  155.479996  155.860001  154.360001  154.869995  154.869995
3  2011-12-20  156.820007  157.429993  156.580002  156.979996  156.979996
4  2011-12-21  156.979996  157.529999  156.130005  157.160004  157.160004

     Volume     SP_open     SP_high      SP_low  ...    GDX_Low  GDX_Close  \
0  21521900  123.029999  123.199997  121.989998  ...  51.570000  51.680000
1  18124300  122.230003  122.949997  121.300003  ...  52.040001  52.680000
2  12547200  122.059998  122.320000  120.029999  ...  51.029999  51.169998
3   9136300  122.180000  124.139999  120.370003  ...  52.369999  52.990002
4  11996100  123.930000  124.360001  122.750000  ...  52.419998  52.959999

   GDX_Adj Close  GDX_Volume   USO_Open   USO_High    USO_Low  USO_Close  \
0      48.973877    20605600  36.900002  36.939999  36.049999  36.130001
1      49.921513    16285400  36.180000  36.500000  35.730000  36.270000
2      48.490578    15120200  36.389999  36.450001  35.930000  36.200001
3      50.215282    11644900  37.299999  37.610001  37.220001  37.560001
4      50.186852     8724300  37.669998  38.240002  37.520000  38.110001

   USO_Adj Close  USO_Volume
0      36.130001    12616700
1      36.270000    12578800
2      36.200001     7418200
3      37.560001    10041600
4      38.110001    10728000

[5 rows x 81 columns]
            Date        Open        High         Low       Close   Adj Close  \
1713  2018-12-24  119.570000  120.139999  119.570000  120.019997  120.019997
1714  2018-12-26  120.620003  121.000000  119.570000  119.660004  119.660004
1715  2018-12-27  120.570000  120.900002  120.139999  120.570000  120.570000
1716  2018-12-28  120.800003  121.080002  120.720001  121.059998  121.059998
1717  2018-12-31  120.980003  121.260002  120.830002  121.250000  121.250000

        Volume     SP_open     SP_high      SP_low  ...    GDX_Low  GDX_Close  \
1713   9736400  239.039993  240.839996  234.270004  ...  20.650000  21.090000
1714  14293500  235.970001  246.179993  233.759995  ...  20.530001  20.620001
1715  11874400  242.570007  248.289993  238.960007  ...  20.700001  20.969999
1716   6864700  249.580002  251.399994  246.449997  ...  20.570000  20.600000
1717   8449400  249.559998  250.190002  247.470001  ...  20.559999  21.090000

      GDX_Adj Close  GDX_Volume  USO_Open  USO_High  USO_Low  USO_Close  \
1713      21.090000    60507000      9.49      9.52     9.28       9.29
1714      20.620001    76365200      9.25      9.92     9.23       9.90
1715      20.969999    52393000      9.59      9.65     9.37       9.62
1716      20.600000    49835000      9.54      9.65     9.38       9.53
1717      21.090000    53866600      9.63      9.71     9.44       9.66

      USO_Adj Close  USO_Volume
1713           9.29    21598200
1714           9.90    40978800
1715           9.62    36578700
1716           9.53    22803400
1717           9.66    28417400

[5 rows x 81 columns]

###### Crerateing sunset on the gold stock price

In [3]:
gold_sub = gold[['Date','Open','High','Low']]

gold_sub

            Date        Open        High         Low
0     2011-12-15  154.740005  154.949997  151.710007
1     2011-12-16  154.309998  155.369995  153.899994
2     2011-12-19  155.479996  155.860001  154.360001
3     2011-12-20  156.820007  157.429993  156.580002
4     2011-12-21  156.979996  157.529999  156.130005
...          ...         ...         ...         ...
1713  2018-12-24  119.570000  120.139999  119.570000
1714  2018-12-26  120.620003  121.000000  119.570000
1715  2018-12-27  120.570000  120.900002  120.139999
1716  2018-12-28  120.800003  121.080002  120.720001
1717  2018-12-31  120.980003  121.260002  120.830002

[1718 rows x 4 columns]

In [5]:
gold_sub = gold_sub.iloc[:500]
gold_sub.shape

(500, 4)

In [6]:
print(" Missing data : ",gold_sub.isnull().sum())

 Missing data :  Date    0
Open    0
High    0
Low     0
dtype: int64

In [8]:
print(f"Open :{gold_sub['Open'].max()}")

Open :173.199997